html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --active-links-color: #4D5AE5;
    --ctas-color: #404BBF;
    --headings-color: #2E2F42;
    --valid-fields-color: #31D0AA;
    --body-text-color: #434455;
    --subtle-text-color: #8E8F99;
    --subtle-background-color: #E7E9FC;
    --light-mode-background-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --hero-image-background-color: #2E2F42;
    --background-lite-color: #FFFFFF;
    --background-color-section-1-2-3: #E5E5E5;
}

body  {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-header {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1440px;
            height: 72px;
            left: 0px;
            top: 0px;
}

.header-nav {
            display: flex;
            align-items: center;
}

.link-list {
    display: flex;
}

.link-item:not(:last-child) {
    margin-right: 40px;
}

.link-item {
    padding: 24px 0;
}

.address-list {
    display: flex;
}

.address-item:not(:first-child) {
    margin-left: 40px;
    margin-right: 156px;
}





.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-list,
.product-list,
.team-list,
.page-box {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
}

.h1, .h2, .h3, .h4, .p {
    margin: 0;
 }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Header */

.page-header {
    background-color: #FFFFFF;
    box-sizing: border-box;
        min-width: 1158px;
            border-bottom: 1px solid;
        
       
            
}

.logo {
    color: var(--headings-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.logo-blue {
    color: var(--active-links-color);
        font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            text-transform: uppercase;
                text-decoration: none;
                margin-left: 156px;
                
}
       

.link {
        color: var(--headings-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.link:hover, .link:focus, .link:active {
    color: var(--ctas-color);
    border-bottom: 4px solid;
}

.link-to {
    color: var(--body-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-to:hover, .link-to:focus, .link-to:active {
    color: var(--ctas-color);
    border-bottom: 4px solid;
}

/* Hero */

.hero {
    background-color: var(--hero-image-background-color);
    color:var(--background-lite-color);    
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
}

.container-hero{
    height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.hero-title {
        color: var(--background-lite-color);
        font-weight: 700;
            font-size: 56px;
            line-height: 1.07; 
            letter-spacing: 0.02em;
                width: 496px;
                height: 120px;
                left: 472px;
                top: 260px;
            
            
}

.btn {
    background-color: var(--active-links-color);
    color: var(--background-lite-color);
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        padding: 16px 32px;
        box-shadow: 0px;
        border-radius: 4px;
        border: 0;
}

.filter-item {
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px;
    cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active{
    background-color: var(--ctas-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: 1px
}

/* Section 1 */

.section-1 {
    padding: 120px 0;
    margin-bottom: 8px;  
    padding-top: 120px;   
    padding-bottom: 120px;
}

.advantages-item {
    flex-grow: 0;
}

.list-title {
    color:var(--overlay-color);
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
}

.main-text {
    color:var(--body-text-color);
            line-height: 1.5;   
            letter-spacing: 0.02em;
}

/* Section 2 */

.section-title {
        color: var(--headings-color);
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
}

/* Section 3 */

.section-3 {
    background-color: var(--light-mode-background-color);
}

.team-card{
    background-color: var(--background-lite-color);
}


.section-3-subtitle{
    color: var(--overlay-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.section-3-text{
    color: var(--body-text-color);
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer {
    background-color: var(--overlay-color);
}

.footer-container {
      padding: 100px 0;
        flex-direction: column;
         justify-content: center;
}

.logo-footer {
    color: var(--light-mode-background-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-left: 156px;

}

.footer-text {
    color: var(--subtle-background-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
}

/* Portfolio */

.btn-page {
    background-color: var(--light-mode-background-color);
    color: var(--active-links-color);
    border-color: var(--subtle-background-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn-page:hover, .btn-page:focus, .btn-page:active {
    background-color: var(--ctas-color);
    color: var(--background-lite-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: 1px
}


.main-title{
    color: var(--overlay-color);
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}


